/* Global styles */
body {
  background-color: #dba770;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}
.section {
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.intro {
  font-weight: 800;
  text-align: center;
}
#linkedin {
  max-width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/* welcome styling */
.welcome h1 {
  font-family: 'Permanent Marker', cursive;
}
.welcome {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.welcome img {
  margin-bottom: 40px;
  margin-top: 40px;
}
.welcome h2 {
  font-weight: 20;
}
/* Sidebar styling */
.sidebar {
  width: 30%;
  float: left;
  background-color: rgba(178, 182, 209, 0.6);
  padding: 5px;
  padding-right: 10px;
  margin: 20px;
}
/* Definition styling */

ol li {
  list-style-position: inside;
}

/* Additional card styling */
.card-text {
  padding-top: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
  background-color: rgba(178, 182, 209, 0.6);
}
button.btn {
  margin-top: auto;
  justify-content: center;
}
/* Language badges on cards */
.html-lang {
  color:#f7f7f7;
  white-space: pre;
  border: solid 2px black;
  border-radius: 15px;
  background-color: #d9534f;
  padding: 5px;
  margin: 5px;
  font-size: small;
  text-align: center;
}
.css-lang {
  color:#f7f7f7;
  white-space: pre;
  border: solid 2px black;
  border-radius: 15px;
  background-color: #0275d8;
  padding: 5px;
  margin: 5px;
  font-size: small;
  text-align: center;
}

.js-lang {
  color:#f7f7f7;
  white-space: pre;
  border: solid 2px black;
  border-radius: 15px;
  background-color: #5cb85c;
  padding: 5px;
  margin: 5px;
  font-size: small;
  text-align: center;
}

.boot-lang {
  color:#f7f7f7;
  white-space: pre;
  border: solid 2px black;
  border-radius: 15px;
  background-color: #5bc0de;
  padding: 5px;
  margin: 5px;
  font-size: small;
  text-align: center;
}
/* Image hover transitions style */
.img__wrap {
  position: relative;
  display: inline-block;
}
.img__img {
  vertical-align: bottom;
}
.img__description_layer {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(178, 182, 209, 0.6);
  color: #000000;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s, visibility .5;
}
.img__description {
  text-align: center;
  font-style: italic;
  padding: 20px;
}
.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}
.img__description {
  transition: .5s;
  transform: translateY(1em);
  text-align: center;
}
.img__wrap:hover .img__description {
  transform: translateY(0);
}
/* Copyright footer */
.copyright {
  font-family: monospace;
}
.footer {
  text-align: center;
}